<div id="navbar">
  <h1><a href="/"">PawPals</a></h1>
  <nav>
    <ul>
      <% if (userSession && userSession.id) { %>
        <li>
          <a href="/user/<%=userSession.id%>">My Profile</a>
        </li>
        <li>
          <a href="/dogs">All Dogs</a>
        </li>
        <li>
          <a href="/dog/new">Add Dog</a>
        </li>
        <li>
            <a href="/conversations">My Conversations</a>
          </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
    <% } else { %>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/signup">Signup</a>
      </li>
    <% } %>
    </ul>
  </nav>
</div>