<div id="navbar">
  <h1><a href="/""><img src="/images/pawpalslogo.png"></a></h1>
  <nav>
    <ul>
      <% if (userSession && userSession.id) { %>
        <li>
          <a href="/user/<%=userSession.id%>">My Profile</a>
        </li>
        <li>
          <a href="/dogs">All Dogs</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
    <% } else { %>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/signup">Signup</a>
      </li>
    <% } %>
    </ul>
  </nav>
</div>