<!DOCTYPE html>

<%- include('partials/head', { title: 'Page not found' }) %>

<body>

  <h1> Oops..
    <%= error %>
  </h1>
  <a href="/">Go back home linus</a>

  <%- include('partials/footer') %>
</body>

</html>