<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>

  <h1> Oops..
    <%= error %>
  </h1>
  <a href="/">Go back home linus</a>

  <script type="text/javascript" src=""></script>
</body>

</html>