<!DOCTYPE html>

<%- include('partials/head', { title: 'Create dog' }) %>

<body>
  <h1>Create your dog profile </h1>
  <form method="POST" action="/dog/new" autocomplete="off" enctype="multipart/form-data">
    <label for="dog-name"> Dog Name</label>
    <input type="text" id="dog-name" name="name" required>

    <label for="dog-breed"> Dog Breed</label>
    <select name="breed" id="breeds" required>
      <% breeds.forEach(b => { %>
      <option value="<%= b%>">
        <%= b%>
      </option>
      <% }) %>
    </select>

    <label for="dog-age">Dog Age </label>
    <input type="number" step="any" id="age" name="age" placeholder="age in years" required>

    <label for="dog-gender"> Dog Gender </label>
    <select name="gender" required>
      <option value="Female">Female</option>
      <option value="Male">Male </option>
    </select>

    <label for="description"> Description </label>
    <textarea id="description" name="description" required></textarea>

    <label for="upload">Upload an image of your dog</label>
    <input name="file-upload" type="file" />
    <button type="submit" class="nice">Create profile </button>

  </form>

  <%- include('partials/footer') %>
</body>

</html>