<!DOCTYPE html>

<link href="/css/base.css" rel="stylesheet" type="text/css">
<link href="/css/index.css" rel="stylesheet" type="text/css">
<link href="/css/main.css" rel="stylesheet" type="text/css">
<body>
    

  <%- include('partials/navigation') %>
   <% if(userSession && userSession.id){%>
    <h1 class="yellow">Welcome <%= userSession.firstname %>. See <a href="/user/<%= userSession.id %>">your profile</a></h1>
  <%} %>
  
 <section class="natural">
  <img src="/images/alvan-nee-1061142-unsplash.jpg" class="dog-pic">
  <div class="copy">
  <h1>
    Pawpals
  </h1>
  <h2>
    Find a mate for your mate.
  </h2>
  </div>
  <div class="copy-2">
    <h2>
      Love is in the air, 
      everywhere you sniff around.
    </h2>
    </div>
</section>

<section class="one-thing">
  <img src="/images/caleb-carl-540813-unsplash.png">
  <div class="copy">
    <h1>Love is one sniff away</h1>
    <p>Finding the right partner for your pooch can be difficult, but meeting new potential mates shouldnt be. Join thousands of users looking for love. </p>
  </div>
</section> 

  <%- include('partials/footer') %>
  

</body>

</html>