<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
  <% if(userSession && userSession.id){%>
  <nav>
    <a href="/user/<%= userSession.id %>">Go to profile</a>
    <a href="/dogs">See all the doggos</a>
    <a href="/logout">Logout</a>
  </nav>
  <%} else {%>
  <nav>
    <a href="/signup">Sign up</a>
    <a href="/login">Login</a>
  </nav>
  <%} %>
  <h1>Hello this is our landing page</h1>


</body>

</html>