<!DOCTYPE html>

<%- include('partials/login', { title: 'Login' }) %>

<body>
  <%- include('partials/navigation') %>
  <!-- <%= message %> -->
  <form method="POST" action="/login" autocomplete="off">
    <div class="login-wrapper">
        <aside> <img src="/images/800.jpg"></aside>
    <h1>Login </h1>
    <label for="email" class="email">Email </label>
    <input type="text" id="email" name="email" class="user-email" required>
    <label for="password" class="password">Password</label>
    <input type="password" id="password" name="password"  class="user-password" required>
    <button type="submit" class="button">Login</button>
    
  </form>
  <div class="actions">
    <p>Don't have an account?</p>
    <a href="/signup">Sign up instead</a>
  </div>
</div>
  <%- include('partials/footer') %>
</div>
</body>

</html>