<!DOCTYPE html>

<%- include('partials/head', { title: 'Messages' }) %>

<body>
  <%- include('partials/navigation') %>
  <form method="POST" action="/">
    <label for="message"> Message</label>
    <input type="text-area" id="message name=" message">
    <input type="submit">
  </form>

  <%- include('partials/footer') %>
</body>

</html>