<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
  <form method="POST" action="/profile">
    <label for="dog-name"> Dog Name</label>
    <input type="text" id="dog-name" name="dog-name">


    <label for="dog-breed"> Dog Breed</label>
    <input type="text" id="dog-breed" name="dog-breed">

    <label for="dog-breed"> dog-breed</label>
    <input type="text" id="dog-breed" name="dog-breed">
    <label for="dog-age"> dog Age </label>
    <input type="text" id="country" name="country">
    <select name="sex">
      <option value="Female"> Female</option>
      <option value="Male"> Male </option>
    </select>

    <label for="sign-password"> Password</label>
    <input type="text" id="password" name="assword">
  </form>

  <script src="" async defer></script>
</body>

</html>