<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
  <a href="/logout">logout</a>
  <%= message %>
  <h1>Welcome
    <%= userSessionData.firstname %>, to your dashboard or whatever we want to call this?</h1>
  <%  if (!dogs.length) { %>
  <p>You haven't registered any dogs yet!</p>
  <a href='/dog/new'>Create a dog profile</a>
  <% } else { %>
  <p>Here are your furry babies</p>
  <% dogs.forEach(dog => { %>
  <a href="/dog/<%= dog.id %>">
    <%= dog.name %>
  </a>
  <% }) %>
  <a href='/dog/new'>Register a new dog</a>

  <% } %>



  <script type="text/javascript" src=""></script>
</body>

</html>