<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
  <%= message %>
  <h1>Sign up </h1>
  <p>Please fill in the following fields:</p>
  <form method="POST" action="/signup" autocomplete="off">
    <label for="fname"> First Name</label>
    <input type="text" id="fname" name="fname" required>
    <label for="lname"> Last Name</label>
    <input type="text" id="lname" name="lname" required>

    <label for="phone"> Phone number</label>
    <input type="text" id="phone" name="phone" required>

    <label for="region"> Region</label>
    <select name="region" required>
      <% regions.forEach(r => { %>
      <option value="<%= r%>">
        <%= r%>
      </option>
      <% }) %>
    </select>

    <label for="email"> Email</label>
    <input type="email" id="email" name="email" required>
    <label for="password" minlength="6" maxlength="6"> Password</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Sign Up </button>
  </form>
  <div class="actions">
    <p>Already have an account?</p>
    <a href="/login">Login</a>
  </div>


</body>

</html>