@import url('https://fonts.googleapis.com/css?family=Karla');

.wrapper{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;

  margin-top: 40px;
}

.grid{
  flex-wrap: wrap;
  display: flex;

}

.block{
  width: 100%;
  text-align: left;
  margin-left: 40px;
}
.square{
  width: 250px;
  height: 250px;
  margin:10px;
  background-color:#f4dc59;
  display:flex;
  justify-content: center;
  align-items: flex-end;;
  overflow: hidden
}
.block{
  text-align:left;
  margin-left:0;
}

.dog-img{
width: 100%;
opacity:0.5;
}

.edit{
  background-image: url(/images/edit@2x.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.search{
  background-image: url(/images/search@2x.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.messages{
  background-image: url(/images/messages@2x.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.matches{
  background-image: url(/images/heart@2x.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.new-profile{
  background-image: url(/images/Asset1@2x.png);
  background-repeat: no-repeat;
  background-position: center center;
}