
body {

  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

}
 .natural{
    padding-right: 260px;
    position:relative;
}
  .natural img{
    width: 600px;
    margin-left: 30%;
  
  }
  
  .natural img{
    transition: transform 0.5s ease;
  }
  
  .natural img:hover{
    transform: rotate(-5deg);
  }
  

  .natural h2{
   position: absolute;
   right: 0;
   top: 50%;
   max-width: 360px;
   font-size: 64px;
   line-height: 1.125;
   font-weight: 700;
  }
  .natural .copy{
    position: absolute;
    right: 0;
    top: 10%;
    width: 360px;
    transform: translateY(-50%);
  }
  .natural .copy-2{
    font-weight: 600;

    position: absolute;
    left: 15%;
    top: 50%;
    width: 260px;
    transform: translateY(-50%);
  }
  .natural h1{
    color:#ffaa39;
    padding-bottom: 60px;
  }

  .one-thing{
    padding-left: 360px;
    position:  relative;
  }
  
  .one-thing .copy{
    position: absolute;
    top: 50px;
    left: 0;
    width: 400px;
  }
  .one-thing p{
    font-weight: 600;
    color: #ffb74d;
  }
  .one-thing h3{
   font-size: 32px;
   font-weight: 700;
    margin-bottom: 20px;
  }
  
  .one-thing h2{
   font-size: 32px;
   font-weight: 200;
  }
  
  section{
    margin-bottom: 60px;
  } 
  
  

  .one-thing .copy,
  .one-thing img{
   transition: transform 0.5s ease;
  }
  
  .one-thing:hover .copy{
    transform: scale(1.1) translateX(20px);
  }
  .one-thing:hover img{
    transform: rotate(10deg);
  }
  
  .lookbook h2{
    transition: all 0.5s ease;
  }
  
  .lookbook:hover h2{
    transform: scale(0.8);
    color: rgba(255, 255, 255,0.8);
  }
  
  @media-query(600px){
    .one-thing {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    }
  
  }


