/*temporary styles for Bere's sanity*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');
@import url('https://fonts.googleapis.com/css?family=Karla');
body {
  font-family: 'Karla', sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: var(--black-color);
  background-color: #f9f7f7;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

#deleteModal {
  display: none;
  position: fixed;
  z-index: 99;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f4dc59;
  padding-top: 150px;
}

.yellow {
  color: #f4dc59;
}

/* nav */

#navbar {
  display: flex;
  /* justify-content: space-between; */
}

#navbar h1 {
  font-size: 27px;
  padding-top: 0;
  font-weight: 700;
}

#navbar h1 a {
  text-decoration: none;
  color: var(--black-color);
}

#navbar ul li a {
  text-decoration: none;
  color: var(--black-color);
  padding-right: -60px;
  font-weight: 700;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
}

#navbar li {
  margin-left: 30px;
  list-style-type: none;
  font-size: 26px;
  font-weight: 600;
  color: #0f0b05;
}

#navbar h1 a:hover {
  color: #f4dc59;
}

#navbar ul li a:hover {
  color: #f4dc59;
}

/* TEXT STYLES */

p {
  font-size: 24px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 55px;
  font-weight: 700;
  padding-bottom: 20px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  font-weight: 700;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

/* Link style */

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

/* FORM STYLES */

label {
  font-size: 30px;
  ;
  color: #000000;
  font-weight: 600;
}

form input {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f9f7f7;
  max-width: 300px;
  border-bottom: 6px solid #f4dc59;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

:placeholder-shown {
  font-family: 'Karla', sans-serif;
  font-size: 28px;
}

form select {
  max-width: 300px;
}

.description text-area {
  max-width: 300px;
}

/* BUTTON STYLES */

input,
button,
submit {
  border: none;
}

.button {
  background: rgb(255, 216, 0);
  background: linear-gradient(90deg, rgba(255, 216, 0, 1) 0%, rgba(244, 220, 89, 1) 35%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: var(--black-color);
  letter-spacing: 2px;
  text-decoration: none;
  max-width: 150px;
}

.button:hover {
  background-size: 100% 88%;
}

#footer {
  text-align: right;
  margin-top: 20px;
}

.container {
  max-width: 700px;
  margin: 0px auto;
  padding: 1em;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  z-index: 3;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

/* SEARCH STYLE */

.search-results {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 200px;
  width: 800px;
}

.search-results img {
  width: 150px;
  margin-right: 20px;
}

.search-results p {
  width: 300px;
  align-self: center;
  margin-left: 15px;
}

.search-results ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.search-results ol li {
  line-height: 1;
}

/*messages styles */

.all-messages-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.message {
  width: 350px;
  background-color: #e7e7e7;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin: 5px 0;
  line-height: 1.2;
}

.own {
  align-self: flex-end;
  background-color: #f4dc59;
}

.messages-actions textarea {
  width: 100%;
  margin: 20px 0;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.messages-actions button {
  display: block;
}