:root {
  /* Example variables */
  --yellow-color: #ffbe51;
  --black-color: #000000;
  --smoke-color: #f9f7f7;
  /*
    example usage
    .foo {
      color: var(--first-color);
    }

    more at https://developer.mozilla.org/en-US/docs/Web/CSS/--*
  */
}