<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header>
                <nav class="right">
                        <a href="grid.html"> Login</a>
                        <a href="list.html">About Us</a>
                        <a href="info.html">Register</a>
                      </nav>
            <h1>
                <img src="">
              </h1>
              <nav>
              <a href="grid.html"> Twitter</a>
                <a href="list.html">Instagram</a>
                <a href="info.html">Facebook</a>
              </nav>
        </header>

        <section class="hero">
            <h2> Bark woof Play</h2>
        </section>

        <section class="grid">
            <div class="about-us">
                    <img src="">
          
                        <p>
                        Doggo ipsum heckin much ruin diet long water shoob shoob, ruff. Noodle horse pupperino many pats boofers he made many woofs borking doggo, extremely cuuuuuute I am bekom fat puggorino very hand that feed shibe. Vvv waggy wags most angery pupper I have ever seen heckin maximum borkdrive many pats, you are doing me a frighten thicc floofs super chub, long water shoob fluffer smol shibe. Very hand that feed shibe smol borking doggo with a long snoot for pats pupper, yapper.
                    </p>
                        

            <h2>Successful Relationship</h2>
            <div class="images">
                <img src="dog1">
                <img src="dog2">
            </div>
        </section>


       
    </body>
</html>