<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form method="POST" action="/signup">
            <label for ="fname"> First Name</label>
            <input type="text" id="fname" name="fname" >
            <label for ="lname"> Last Name</label>
            <input type="text" id="lname" name="lname">

            <label for ="phone-number"> Phone number</label>
            <input type="text" id="phone-number" name="phone-number">
            <label for ="email"> Email</label>
            <input type="text" id="email" name="email">
            <label for ="country"> country</label>
            <input type="text" id="country" name="country">
            
            <label for ="sign-username"> User Name</label>
            <input type="text" id="sign-username" name="sign-username">
            <label for ="sign-password" required minlength="6" maxlength="6"> Password</label>
            <input type="text" id="sign-password" name="sign-password">
            <input type="submit">
        </form>
        
        <script src="" async defer></script>
    </body>
</html>